<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>개발 포트폴리오</title>
</head>
<body>
<div class="container my-3" layout:fragment="content">
    <h1 class="text-center display-6 mt-5">포트폴리오</h1>
    <div class="container">
        <div id="outer-div" class="d-flex justify-content-center align-items-center">
            <div class="waviy">
                <span style="--i:1">D</span>
                <span style="--i:2">E</span>
                <span style="--i:3">V</span>
                <span style="--i:4">P</span>
                <span style="--i:5">O</span>
                <span style="--i:6">R</span>
                <span style="--i:7">T</span>
                <span style="--i:7">F</span>
                <span style="--i:8">O</span>
                <span style="--i:9">L</span>
                <span style="--i:10">I</span>
                <span style="--i:11">O</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>